###############################################################################
#      Includes configurations for startup behavior of the DSL Subsystem      #
#           ATTENTION: After a change a system reboot is necessary!           #
###############################################################################

# Configuration of initial common debug level for the DSL Subsystem startup.
#   xDSL_Dbg_DebugLevel
#     "" : Use value from system level configuration (refer to the config file
#          "/opt/lantiq/bin/debug_level.cfg" and the scripts that includes it)
#     "0": No special value (only depends on compile time settings)
#     "1": LOW    - Set debug levels to DSL_DBGLVL_MSG  (0x80)
#     "2": NORMAL - Set debug levels to DSL_DBGLVL_WRN  (0x40)
#     "3": HIGH   - Set debug levels to DSL_DBGLVL_ERR  (0x2) - DEFAULT
#     "4": OFF    - Set debug levels to DSL_DBGLVL_NONE (0x0)
# Notes:
# - This configuration value will only have an influence if the DSL subsystem
#   has been compiled to include debug symbols
# - It is highly recommended to set it at least to HIGH (3) to get errors if
#   possible from compiltion point of view
# - This value is used both within API driver as well as control application
#   initialization and sets ALL available debug modules to the defined level
# - Due to the fact that the default UGW model selects the "Footprint"
#   compilation there is no risk to be flooded with any messages in general
# - Message dump (debug module DSL_DBG_MESSAGE_DUMP (12)) is only activated
#   if selecting "LOW" (1) - also refer to DSL CPE API UMPR for details,
#   chapter "Monitoring Messages Exchange"
xDSL_Dbg_DebugLevel="3"
# Configuration of initial debug module specific application debug levels.
# Only used in case of xDSL_Dbg_DebugLevel is different from "" (empty string)
#   xDSL_Dbg_DebugLevelsApp
#     "" : Do not use debug module specific levels for dsl_cpe_control - DEFAULT
#   All other values are defined as within "-G" startup option as follows
#     -G<Module>:<Level>{_<Module>:<Level>}
#   Example for some useful debugging output
#     "-1:40_8:80"
xDSL_Dbg_DebugLevelsApp=""
# Configuration of initial debug module specific driver debug levels.
# Only used in case of xDSL_Dbg_DebugLevel is different from "" (empty string)
#   xDSL_Dbg_DebugLevelsDrv
#     "" : Do not use debug module specific levels for drv_dsl_cpe_api - DEFAULT
#   All other values are defined as within "-g" startup option as follows
#     -g<Module>:<Level>{_<Module>:<Level>}
#   Example for some useful debugging output
#     "1:80_12:80"
xDSL_Dbg_DebugLevelsDrv=""
# Configuration of enabling console printouts
#   xDSL_Dbg_EnablePrint
#     "0": Do *not* enable prints - DEFAULT
#     "1": Enable prints
xDSL_Dbg_EnablePrint="0"
# Configuration of test and debug interface usage
#   xDSL_Dbg_DebugAndTestInterfaces
#     "0": Do not use debug and test interfaces.
#          Independent from feature availability.
#     "1": Use debug and test interfaces on LAN interfaces only.      - DEFAULT
#          Dependent on feature availability.
#     "2": Use debug and test interfaces on ALL available interfaces.
#          Dependent on feature availability. Former default value.
# Note:
# - This configuration value will only have an influence if the DSL subsystem
#   has been compiled to include TCP-Messages and/or DTI interface functionality.
xDSL_Dbg_DebugAndTestInterfaces="1"

# Configuration of DSL activation modes (G997 XTU octet bits) to be used on startup
#   xDSL_Cfg_G997XTU
#     "" : use value from system level configuration (rc.conf) - DEFAULT
#   All other values will be used to set according DSL modes and will
#   overwrite according system level configuration from rc.conf, for example
#     "05_00_04_00_0C_01_00_00" DEFAULT (ADSL-AnA modes)
xDSL_Cfg_G997XTU=""
# Configuration of SystemInterface config (syntax as for CLI command "sics")
#   xDSL_Cfg_SystemInterface
#     "" : use value from system level configuration (rc.conf) - DEFAULT
#   All other values will overwrite according system level configuration from
#   rc.conf. Definition as within "-T" startup option as follows
#     -T<TcA>:<TcCfgUsA>:<TcCfDsA>
#   For example
#     "1:0x1:0x1" for ADSL/ATM (API internal default)
xDSL_Cfg_SystemInterface=""

# Configuration of test and debug specific reboot criteria's
#   xDSL_Cfg_RebootCritSet
#     "0": Use default reboot criteria's - DEFAULT
#     "1": Set user defined reboot criteria's defined by xDSL_Cfg_RebootCritVal
xDSL_Cfg_RebootCritSet="0"
#   xDSL_Cfg_RebootCritVal
#     Only used if "xDSL_Cfg_RebootCritSet" equals "1".
#     The value selects the activated reboot criteria's according to the
#     following bitmask definitions.
#     Please note that some values are used only within ADSL or VDSL. For
#     details please refer to the UMPR of the DSL CPE API.
#     DEFAULT value is "4F"
#        "0": CLEANED (no reboot criteria active)
#        "1": LOM              - default ON
#        "2": LOF              - default ON
#        "4": LOS              - default ON
#        "8": ESE              - default ON
#       "10": ES90             - default OFF
#       "20": SES30            - default OFF
#       "40": NEGATIVE_MARGIN  - default ON
#       "80": OOS_BC0          - default OFF
#      "100": OOS_BC1          - default OFF
#      "200": NCD_BC0          - default OFF
#      "400": NCD_BC1          - default OFF
#      "800": LCD_BC0          - default OFF
#     "1000": LCD_BC1          - default OFF
xDSL_Cfg_RebootCritVal="4F"

# Configuration of test and debug specific bitswap setting
#   xDSL_Cfg_BitswapEnable
#     "" : use value from system level configuration (rc.conf) - DEFAULT
#     "0": Disable Bitswap
#     "1": Enable Bistswap
xDSL_Cfg_BitswapEnable=""

# Configuration of test and debug specific Retransmission (ReTx) setting
#   xDSL_Cfg_ReTxEnable
#     "" : use value from system level configuration (rc.conf) - DEFAULT
#     "0": Disable ReTx
#     "1": Enable ReTx
xDSL_Cfg_ReTxEnable=""
